$primary-dark: #09254f;
$primary: #134a9f;
$background:#ffffff;
$background-shade:#fcfcfc;

$max-width:960px;

$border: .35px solid #EAEAEA;


$margin-sm:4px;
$margin-md:8px;
$margin-lg:16px;
$padding-sm:4px;
$padding-md:8px;
$padding-lg:32px;

$font-size-xs:12px;
$font-size-sm:14px;
$font-size-md:16px;
$font-size-lg:18px;
$font-size-xl:22px;